<div ng-controller='app.StackOverflow.AnswersPerDayAndHourController as vm'>

    <div class="row">

        <canvas id="line" class="chart chart-line" 
                chart-data="vm.data"
                chart-labels="vm.labels"
                chart-legend="true" 
                chart-series="vm.series"></canvas> 

    </div>

</div>