<div ng-controller='app.StackOverflow.AnswersPerHourController as vm'>

    <div class="row">

        <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series">
        </canvas>

    </div>

</div>