<div ng-controller="app.views.home as vm">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <p class="text-primary">În ultimul deceniu cantitatea de informație disponibilă în format electronic a crescut, zilnic înregistrând creșteri de:</p>

            <ul>

                <li class="text-primary">500.000.000 tweet-uri noi</li>

                <li class="text-primary">4.000.000 ore de conținut video nou disponibil pe platforma Youtube</li>

                <li class="text-primary">4.3 miliarde mesaje postate pe Facebook</li>

                <li class="text-primary"> 6 miliarde căutări folosind Google</li>

            </ul>

            <p class="text-primary">Din cauza acestor cantități imense de date pe care le putem accesa, mult diferite de cantitatea disponibilă acum câteva decenii,</p>
            <p class="text-primary">suntem nevoiți să creăm noi modalități de a analiza și consolida aceste date.</p>
            <p class="text-primary"> În plus există date imposibil de înțeles folosind modul tradițional de acumulare al cunoștințelor:</p>
            <p class="text-primary">în ce țări și orașe se află cei mai mulți programatori, cu ce a diferă activitatea lor în această zi, ce proiecte noi sunt foarte apreciate?</p>
            <p class="text-primary">Deși aceste informații sunt disponibile, ele sunt într-un format nefavorabil.</p>
            <p class="text-primary">Aplicația își propune să faciliteze înțelegerea seturilor mari de date folosindu-se de metode de vizualizare a datelor,</p>
            <p class="text-primary">adică abstractizarea seturilor de date într-o formă schematică, o reprezentare vizuală a datelor.</p>

        </div>

    </div>
</div>