<footer class="main-footer" ng-controller="app.views.layout.footer as vm">
    <div class="pull-right hidden-xs">
        <b>Versiunea 0.0.1</b>
    </div>
    <strong>Anul {{ vm.year }} {{ vm.projectName }}.</strong>
</footer>