 <!--<div ng-include="'/App/Main/views/layout/header.cshtml'"></div>-->
<aside class="main-sidebar" ng-controller="app.views.layout.sideMenu as vm">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview" ng-repeat="menuItem in vm.menu.items" ng-class="{active: vm.currentMenuName == menuItem.name}">

                <a ng-if="!menuItem.items.length" ng-href="{{menuItem.url}}">
                    <i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i>
                    <span>{{menuItem.displayName}}</span>
                </a>

                <a ng-if="menuItem.items.length" href="">
                    <i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i>
                    <span>{{menuItem.displayName}}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul ng-if="menuItem.items.length" class="treeview-menu">
                    <li ng-repeat="menuSubItem in menuItem.items">
                        <a ng-href="{{menuSubItem.url}}"><i class="{{menuSubItem.icon}}" ng-if="menuSubItem.icon"></i>{{menuSubItem.displayName}}</a>
                    </li>
                </ul>


            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>